*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6rem;
}
body{
    background: linear-gradient(60deg,red,orange);
}
.container{
    display:flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 30px auto;
    justify-content: space-around;
}
.card{
    border: 2px solid blue;
    border-radius: 5px;
    width: 240px;
    height: 160px;
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    background-color: rgb(14,100,13);
    color: #fff;
}
.card:hover{
    background: rgb(67, 14, 116);
    box-shadow: 1px 3px 5px 4px black;
    transition: all 0.3s ease-in;
}
